.ship {
  position: absolute;
  /* overflow:hidden; */
  margin-left: -12px;
  margin-top: -6px;
  /* background-color: #555; */
  height: 24px;
  width: 24px;
  transform: translate(-50%, -50%);
}
.ship-image {
  height: 100%;
  width: 100%;
  background-image: url("../../images/spacehship.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center center; 
}

.velocity-vector {
  position: relative;
  top: -12px;
  left: 12px;
  height: 1px;
  background-color: #555;
  transform-origin: left center;
}
